# URL base del Backend-For-Frontend (BFF) desplegado en AWS EC2
VITE_BFF_URL=http://3.81.237.202:8080

# Credenciales de Azure Active Directory (Microsoft Entra ID)
VITE_AZURE_TENANT_ID=b7bd70fc-34e6-4f0c-80cc-e0909f96d096
VITE_AZURE_CLIENT_ID=1a9272d9-8271-48d5-a823-22b94af30424
VITE_AZURE_API_CLIENT_ID=1a9272d9-8271-48d5-a823-22b94af30424

# Configuracion de AWS Cognito (Federacion OIDC)
VITE_COGNITO_DOMAIN=https://us-east-1akiimfjh5.auth.us-east-1.amazoncognito.com
VITE_COGNITO_CLIENT_ID=rutaexpress-web-client
VITE_COGNITO_REDIRECT_URI=http://localhost:5173/